
/* Styling for body and flex grids*/

body {
    font: 14px sans-serif;
}

.wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: 10px 60px 0 60px;
    flex-basis: 100px;
    
}

.button {
    width: 100%;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 4px;
    padding: 10px 24px;
    
}
button > span, p {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}
 .flex-grid {
   display: flex;
   background-color: orchid;
   margin:2% 4% 2% 4%;
   justify-content:center;
  }

    .flex-grid .items {
        margin: 2% 0 0 8%;
        padding: 10px;
        width: 35%;
        background-color: pink;
        flex-direction: column;
        align-self: flex-start;
    }
    .flex-grid .price {
        margin: 2% 0 0 2%;
        padding: 10px;
        width: 25%;
        background-color: pink;
        flex-direction: column;
        align-self: flex-start;
    }

@media (max-width: 700px) {
    .flex-grid {
        display: block;
        flex-direction: column;
    }
    .items {
    width: 100%;
    margin: 0 0 10px 0;
}

}

.row{
    justify-content:center;
}

/*  End of body styling */

.space_holder_banner{
    width:400px;
    height:200px;
    background-color:lightgray;
}

.img-home-banner{
    width:1000px;
    height: 200px;
    background-image:url(Img/sports.png);
    background-size:100%;

}

.loginwrapper {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    
}

header {

    overflow: hidden;
    background-color: white;
}

    header a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        header a:hover {
         background-color: #ddd;
            color: black;
        }

/* Nav bar styling below */

nav {
   overflow: hidden;
    background-color: #ebd9c6;
    
}

    nav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        nav a:hover {
            background-color: white;
            color: black;
        }

.dropdown {
    float:left;
   
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
            .dropdown-content a:hover {
                background-color: #ddd;
            }

.dropdown:hover .dropdown-content {
    display: block;
    
}

/* Nav bar styling above */

main {
    
    padding: 1px;
}
    main .advert {
        
        padding: 1px;
    }
    main .roller {
        background-color: black;
        padding: 1px;
    }



.flex_container {
    display: inline-flex;
    flex-direction: column;
    background-color:pink;
    margin:15px;
    
}

.flex_container_productdetails {
    
    background-color: white;
    padding:15px 60px;
    margin:20px;
}


    .flex_container > .productimage {
        
        flex-basis: 250px;
        width: 200px;
        height: 300px;
        margin: 6px;
        text-align: center;
        line-height: 75px;
    }

    .flex_container > .productinfo {
        background-color: lightgray;
        width: 220px;
        height: 80px;
        margin: 10px;
        text-align: center;
        line-height:25px;
        font-size: 10px;
        
    }

    .flex_container > .far, fa-heart {
        position: absolute;
    }

.flex_row {
    display: inline-flex;
    flex-direction: row;
    background-color: orange;
    margin: 50px 100px 0 250px;
}


footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color:white;
}

.fa, fa-shopping-basket {
    color: #ebd9c6;
    font-size: 20px;
}

.far, fa-heart {
    color: #ebd9c6;
    font-size:20px;
   
}

.fas, fa-user {
    color: #ebd9c6;
    font-size: 20px;
}

.unfav{
    background-color:red;
}

.productdetails{
    font-size:30px;
}

.btn_parent {
    width: 40px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin:5px;
    box-sizing: border-box;
}

.btn_parent:hover{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

    .btn_parent:focus {
        width: 40px;
        height: 40px;
        border: 2px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
        box-sizing: border-box;
    }

.black_coloured_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    background-color: black;
    border: 0 solid green;
}
.white_coloured_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid lightgrey;
    padding: 10px;
    background-color: white;
    
}
.mocha_coloured_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    background-color: #d9b38c;
    border: 0 solid green;
}
.sage_coloured_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    background-color: #70db70;
    border: 0 solid green;
}
.grey_coloured_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    background-color:grey;
    border: 0 solid green;
}
.stone_coloured_button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 10px;
    background-color: #343442;
    border: 0 solid green;
}
.container_row{
    display:flex;
    
}
.productview{

    height:500px;
    width:400px;
    margin-left: 150px;


}

/*UserAccount Page */

.sidenav {
    overflow: hidden;
    background-color: #ebd9c6;
}

    .sidenav a {
        
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size:25px;
    }

        .sidenav a:hover {
            background-color: white;
            color: black;
        }